@import "components/CSS/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: "SolaimanLipi";
  src: local("solaimanLipi"), url("solaimanlipi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#root,
#portal {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
  font-family: "Roboto", sans-serif, "SolaimanLipi";
  color: $font-color;
}
input {
  color: $font-color;
  font-family: "Roboto", sans-serif, "SolaimanLipi";
}
a {
  text-decoration: inherit;
  color: inherit;
  white-space: nowrap;
}
li {
  list-style: none;
}
textarea {
  font-family: "Roboto", sans-serif, "SolaimanLipi";
  resize: none;
}
button {
  font-family: "Roboto", sans-serif, "SolaimanLipi";
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $base-white;
}

.input {
  label {
    pointer-events: none !important;
    * {
      pointer-events: none !important;
    }
  }
}
#portal {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "main";
  place-items: center;
  pointer-events: none;
  * {
    pointer-events: all;
  }
  .modalBackdrop {
    height: 100%;
    width: 100%;
    grid-area: main;
    background: rgba(0, 0, 0, 0.2);
  }
  .modal {
    z-index: 10;
    grid-area: main;
  }
}

.main {
  flex: 1;
}

.main:not(.landingPage):not(.adminPanel):not(.sourceForms):not(.jamiaProfile) {
  margin-left: 11rem;
}
@media only screen and (max-width: 720px) {
  .main:not(.landingPage):not(.adminPanel):not(.sourceForms):not(.jamiaProfile) {
    margin: auto 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .main:not(.landingPage):not(.adminPanel):not(.sourceForms):not(.jamiaProfile) {
    margin: auto 0;
  }
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.fourOFour {
  h2 {
    font-size: 4rem;
    &.ar {
      font-size: 5rem;
      line-height: 0.75em;
    }
    &.bn {
      font-family: "SolaimanLipi";
    }
  }
  padding-top: 10%;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0);
  cursor: default;
  top: 0;
  left: 0;
  // z-index: 3;
}
.actions {
  position: relative;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  white-space: nowrap;
  z-index: 10;
  &:hover {
    background: $base-white;
    ion-icon {
      opacity: 0.5;
    }
  }
  &:active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  ion-icon {
    font-size: 2rem;
    // pointer-events: none;
  }
  section {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  ul {
    overflow: hidden;
    border-radius: 5px;
    transform: translateY(100%);
    background: $base-white;
    box-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.2);
    transition: height 0.3s ease-in-out;
    li {
      padding: 0.5rem 1rem;
      &:hover {
        background: $light-hover;
      }
    }
  }
}
.deathPage {
  background: $base-white;
  height: 100vh;
  display: grid;
  place-items: center;
  .content {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    ion-icon[name="skull-outline"] {
      font-size: 5rem;
      color: $light-border;
    }
    h2 {
      text-align: center;
    }
    a {
      align-items: center;
      color: $blue;
      display: grid;
      width: min-content;
      font-size: 2rem;
      transform: rotate(0);
      transition: transform 1s ease-in-out;
      margin: auto;
      ion-icon {
        transform: translateY(-2px);
      }
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}
