@import "variables";

.about {
  text-align: left;
  padding: 2rem;
  padding-right: 1rem;
  max-width: 45rem;
  .artcl {
    text-indent: 1rem;
    margin-bottom: 0.5rem;
    text-align: justify;
  }
  h4 {
    font-style: italic;
    margin-bottom: 0.5rem;
  }
  .activities {
    padding-left: 1.5rem;
  }
  .contacts {
    display: flex;
    grid-gap: 1rem;
    flex-wrap: wrap;
    li {
      flex: 1;
      min-width: 15rem;
      align-items: center;
      padding: 0.8rem 0.75rem;
      border-radius: 0.5rem;
      grid-gap: 1rem;
      box-shadow: 0 4px 5px rgba(#000, 0.08);
      .icon {
        background: rgba($accent, 0.05);
        border: 1px solid rgba($accent, 0.2);
        color: $accent;
        border-radius: 50%;
        padding: 0.7rem;
        ion-icon {
          font-size: 2rem;
          display: block;
        }
      }
      border: 1px solid rgba($accent, 0.2);
      display: flex;
      .body {
        justify-content: center;
        display: flex;
        flex-flow: column;
        .name {
          // margin-bottom: 0.5rem;
        }
        .des {
          font-style: italic;
          color: $light-text;
          font-size: 0.75em;
        }
        // .links {
        //   display: flex;
        //   font-size: 1.3rem;
        //   grid-gap: 0.75rem;
        //   color: $light-text;
        //   a {
        //     display: grid;
        //     padding: 0.25rem;
        //     border-radius: 2rem;
        //     &:hover {
        //       background: $light-hover;
        //     }
        //   }
        // }
      }
    }
  }
  .links {
    display: flex;
    grid-gap: 1rem;
    .donate,
    .email {
      padding: 0.25em;
      background: #e2136e;
      color: white;
      display: block;
      height: 47px;
      width: 47px;
      border-radius: 0.5rem;
      display: grid;
      place-items: center;
      ion-icon {
        font-size: 1.8rem;
      }
    }
    .email {
      background: $accent;
    }
  }
}
.donate {
  .modalBackdrop {
    backdrop-filter: blur(3px);
    background: rgba(#000, 0.1) !important;
  }
  .modal {
    z-index: 1;
    img {
      margin: 2rem;
      max-width: 15rem;
      box-shadow: 0 0 10px rgba(#000, 0.3);
      border-radius: 0.8rem;
      overflow: hidden;
    }
  }
}
.modal {
  z-index: 1;
  img {
    margin: 2rem;
    max-width: 15rem;
    box-shadow: 0 0 10px rgba(#000, 0.3);
  }
}
.tableOfContent {
  padding: 1rem 0;
  max-width: 40rem;
  h2 {
    margin-bottom: 1.4rem;
    padding: 0 0.7rem;
    span {
      display: block;
      font-size: 0.9rem;
      font-weight: 400;
      color: $light-text;
      font-style: italic;
    }
  }
  ul {
    display: grid;
    grid-gap: 0.1rem;
    li {
      border-radius: 0.5rem;
      box-shadow: inset 0 0 0 rgba(#fff, 1), inset 0 0 0 rgba(#000, 0.1),
        0 0 0 rgba(#000, 0.05);
      a {
        white-space: normal;
        display: block;
        padding: 0.7rem;
      }
      transition: box-shadow 50ms ease-in-out;
      &:hover {
        box-shadow: inset 0 4px 4px rgba(#fff, 1),
          inset 0 -4px 4px rgba(#000, 0.1), 0 3px 6px rgba(#000, 0.05);
        background: #fafafa;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .about {
    padding: 1.5rem 1rem;
    .activities {
      padding-left: 1rem;
    }
  }
}

@media only screen and (max-width: 265px) {
  .about {
    .contacts {
      li {
        min-width: 0;
        .icon {
          display: none;
        }
      }
    }
  }
}
