@import "variables";

.adminPanel {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;
  #addFatwa {
    padding: 0.5rem;
  }
  #allFatwa {
    tr {
      grid-template-columns: 8rem 8rem 5rem 6rem 1fr;
    }
  }
  #allJamia {
    // min-width: 830px;
    tr {
      grid-template-columns: 130px 70px 0.65fr 0.35fr 78px 108px;

      td,
      td span {
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: default;
        &.jamiaName {
          a {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            align-items: center;
            ion-icon {
              margin-left: 0.5rem;
              display: none;
            }
            &:hover ion-icon {
              display: inline-block;
            }
          }
        }
      }
    }
    &.thead {
      top: 44px;
    }
  }
  #jamiaSubmissions {
    tr {
      grid-template-columns: 80px 70px 1fr 115px;
      th {
        white-space: nowrap;
      }
    }
    &.thead {
      top: 44px;
    }
  }
  #fatwaSubmissions {
    tr {
      grid-template-columns: 6rem 8rem 8rem 1fr;
      &.loading {
        // animation: loadingColumn2 1.25s linear alternate infinite;
      }
    }
  }
  #allScrapped,
  #allScrappedLive {
    tr {
      grid-template-columns: 6rem 8rem 8rem 1fr;
      &.loading {
        // animation: loadingColumn2 1.25s linear alternate infinite;
      }
      td {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
  #userSubmissions {
    tr {
      grid-template-columns: 5rem 0.3fr 0.7fr 50px;
    }
    &.thead {
      top: 44px;
    }
  }
  #allJamia .full,
  #jamiaSubmissions .full,
  #fatwaSubmissions .full,
  #allFatwa .full,
  #userSubmissions .full {
    grid-template-columns: 0.25fr 0.8fr;
    grid-row-gap: 1rem;
    grid-column-gap: 0;
    position: relative;
    .label {
      font-size: 0.8rem;
      color: $light-text;
      position: relative;
      &::after {
        content: ":";
        display: inline-block;
        position: absolute;
        right: 0;
      }
    }
    .data {
      padding-left: 1rem;
      &:has(form) {
        background: $light-hover;
      }
      form {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr min-content;
        align-items: center;
        a {
          width: min-content;
        }
        button {
          color: $light-text;
          border: none;
          padding: 0;
          border-radius: 0;
          margin-left: 0.5rem;
          &:hover {
            background: none;
            color: inherit;
          }
          ion-icon {
            font-size: 1.5rem;
          }
        }
        .input {
          pointer-events: none;
          label {
            display: none;
          }
          input {
            font-size: 1rem;
            background: none;
            outline: none;
            border: none;
            padding: 0;
            transition: background, padding, 0.2s ease-in-out;
          }
          textarea {
            border: none;
            transition: background, padding, 0.2s ease-in-out;
          }
        }
        ion-icon {
          font-size: 1.5rem;
          cursor: pointer;
          opacity: 0;
          margin-left: 0.25rem;
          background: white;
          padding: 0.33rem 0.5rem;
          box-shadow: inset 0 0 0 1px $light-border;
          border-radius: 5px;
          &:hover {
            background: $light-hover;
          }
          &:active {
            background: $light-border;
          }
        }
        &:hover {
          ion-icon {
            opacity: 1;
          }
        }
        &.edit {
          .input {
            pointer-events: all;
            input {
              border-radius: 5px;
              background: white;
              padding: 0.5rem;
              box-shadow: inset 0 0 0 1px $light-border;
            }
            textarea {
              border-radius: 5px;
              background: white;
              padding: 0.5rem;
              box-shadow: inset 0 0 0 1px $light-border;
            }
          }
          &.password {
            align-items: flex-start;
            & > section {
              max-width: 20rem;
              display: grid;
              grid-template-columns: 1fr;
              grid-auto-flow: row;
              grid-row-gap: 0.5rem;
              section {
                display: flex;
                align-items: center;
                span {
                  height: 2px;
                  position: absolute;
                  left: 0;
                  bottom: 0;
                }
              }
            }
          }
          ion-icon {
            opacity: 1;
          }
        }
      }
    }
    &:hover {
      background: none;
    }
  }
  #fatwaSubmissions .full {
    .label {
      align-self: flex-start;
    }
  }
}
.btns {
  grid-column: 2;
  display: flex;
  grid-column-gap: 1rem;
  flex-wrap: wrap;
  button {
    position: relative;
    &.loading {
      cursor: default;
      color: transparent;
      ion-icon {
        color: transparent;
      }
      .spinner {
        font-size: 0.6rem;
      }
    }
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    white-space: nowrap;
    ion-icon {
      font-size: 1.5em;
      // margin-right: 0.25rem;
    }
  }
}
.addFatwa {
  .checkbox {
    // opacity: 0;
    // pointer-events: none;
  }
  width: 100%;
  max-width: 40rem;
  height: min-content;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  grid-row-gap: 3rem;
  grid-column-gap: 1rem;
  grid-template-areas: "tp ch" "tl tl" "qs qs" "an an" "mlb mls";
  &.translate {
    grid-template-areas: "tp ch" "tl tl" "tlen tlen" "qs qs" "qsen qsen" "an an" "anen anen" "mlb mls";
  }
  .input {
    margin-top: 1rem;
  }
  #topic {
    grid-area: tp;
    max-width: 12rem;
    input {
      text-transform: capitalize;
    }
  }
  .checkbox {
    grid-area: ch;
    margin: auto;
    margin-right: 0;
  }
  #title {
    grid-area: tl;
  }
  #titleEn {
    grid-area: tlen;
  }
  #ques {
    grid-area: qs;
  }
  #quesEn {
    grid-area: qsen;
  }
  #ans {
    grid-area: an;
  }
  #ansEn {
    grid-area: anen;
  }
  .meta {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr;
    grid-gap: 1rem;
  }
  .ref {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem;
    .multipleInput {
      height: min-content;
      &#sura {
        .group {
          grid-template-columns: 1fr 40px;
        }
      }
      &#hadith {
        .group {
          grid-template-columns: 1fr 85px;
        }
      }
      display: grid;
      grid-row-gap: 2rem;
      .group {
        justify-content: space-between;
        align-items: center;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
        grid-template-columns: 1fr 30px 40px;
      }
    }
  }
  button[type="submit"] {
    grid-column: 2/3;
    margin: auto;
    margin-right: 0;
    margin-bottom: 5rem;
  }
}
.sidebar {
  width: 14rem;
  max-height: calc(100vh - 50px);
  height: 100%;
  border-right: 1px solid $light-border;
  display: grid;
  grid-template-rows: auto minmax(0, 100%) auto;
  overflow: hidden;
  .backdrop {
    background: rgba(0, 0, 0, 0.2);
    width: calc(100vw - 14rem);
    margin-left: 14rem;
    z-index: -10;
  }
  .profile {
    display: grid;
    place-items: center;
    padding: 2rem;
    padding-bottom: 0.5rem;
    width: 100%;
    h2 {
      font-size: 5rem;
      background: $blue;
      font-weight: lighter;
      border-radius: 50%;
      padding: 1rem;
      width: 7rem;
      height: 7rem;
      max-width: 100%;
      justify-content: center;
      align-items: center;
      color: white;
      display: grid;
      line-height: 0;
    }
    p {
      margin-top: 0.8rem;
      font-size: 0.9rem;
      text-align: center;
    }
  }
  &.mini {
    .profile {
      p {
        display: none;
      }
    }
  }
  .viewList {
    min-height: 5px;
    overflow-y: auto;
    li {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        display: block;
        background: orange;
        height: 100%;
        width: 0.3rem;
        top: 0;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
        transform-origin: left;
      }
      &.active {
        &::after {
          transform: scaleX(1);
        }
        background: $light-hover;
        color: orange;
      }
      a {
        display: flex;
        align-items: center;
        padding: 0.75rem 1.5rem;
        ion-icon {
          margin-right: 1rem;
          font-size: 1.3em;
        }
      }
    }
  }
  .footer {
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    .links {
      grid-gap: 0;
      li {
        a {
          font-size: 0.9rem;
          padding: 0.5rem 0.5rem;
        }
      }
    }
    ul {
      justify-content: center;
      .copy {
        font-size: 0.8rem;
      }
    }
  }
  &.mini {
    width: 4rem;
    .profile {
      padding: 0.5rem;
      h2 {
        padding: 0.5rem;
        font-size: 1.8rem;
        height: 2.5rem;
        width: 2.5rem;
      }
    }
    .viewList {
      li {
        padding: 0.25rem 0;
        a {
          padding: 0.5rem;
          display: flex;
          justify-content: center;
          ion-icon {
            width: 1.7rem;
            height: 1.7rem;
            margin-right: 0;
          }
          span {
            display: none;
          }
        }
      }
    }
    .footer {
      display: none;
    }
  }
}
.tabs {
  display: flex;
  position: relative;
  border-bottom: 1px solid $light-border;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  span {
    display: none;
    position: absolute;
    background: orange;
    bottom: 0;
    left: 0;
    height: 3px;
    transition: left, 0.3s ease-in-out;
  }
  a {
    position: relative;
    padding: 0.75rem;
    white-space: nowrap;
    border-radius: 8px 8px 0 0;
    &::after {
      content: "";
      display: block;
      position: absolute;
      background: orange;
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      transition: height, 0.3s ease-in-out;
    }
    &:hover {
      background: $light-hover;
      cursor: pointer;
    }
    &.active {
      background: $light-hover;
      &::after {
        height: 3px;
      }
    }
  }
}
.view {
  height: calc(100vh - 51.19px);
  padding: 0;
  overflow: auto;
  position: relative;
  h1 {
    padding: 0.5rem;
  }
  .tabs {
    position: sticky;
    top: 0;
    background: $base-white;
    z-index: 15;
  }
  .tableFilter {
    z-index: 10;
    position: sticky;
    top: 46px;
    background: $base-white;
    border-bottom: 1px solid $light-border;
    form {
      align-items: center;
      display: flex;
      width: 100%;
      & > ion-icon {
        flex-shrink: 0;
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1em;
        padding: 0 1rem;
        cursor: pointer;
        align-self: flex-start;
        margin-top: 1rem;
      }
      .chips {
        font-size: 0.9rem;
        // white-space: nowrap;
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 0.5rem;
        padding-left: 0;
        width: 100%;
        .chip {
          margin: 0.25rem;
          min-height: 2rem;
          background: $light-hover;
          padding: 0 0.75rem;
          padding-right: 0.5rem;
          border-radius: 1rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          ion-icon {
            flex-shrink: 0;
            color: $light-hover;
            background: $light-text;
            border-radius: 50%;
            font-size: 1.2em;
            height: 1.15rem;
            width: 1.15rem;
            margin-left: 0.5rem;
          }
        }
        input {
          margin: 0.25rem;
          height: 2rem;
          flex-grow: 1;
          background: $base-white;
          border: none;
          outline: none;
          padding: 1rem 0.5rem;
          font-size: 1rem;
        }
      }
    }
    .filterSuggestions {
      z-index: 10;
      position: absolute;
      top: 3.1rem;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
      background: $base-white;
      border-radius: 4px;
      padding: 0.3rem 0;
      // overflow: hidden;
      text-transform: capitalize;
      .noFilter {
        cursor: default;
        color: $light-text;
        &:hover {
          background: none;
        }
      }
      hr {
        border: none;
        border-top: 1px solid $light-border;
      }
      & > li {
        padding: 0.75rem 1.25rem;
        cursor: pointer;
        &:hover {
          background: $light-hover;
        }
      }
      .miniForm {
        header {
          background: #333;
          color: $base-white;
          display: flex;
          justify-content: space-between;
          padding: 0.8rem;
          align-items: center;
          ion-icon {
            font-size: 1.5em;
            cursor: pointer;
          }
        }
        form {
          padding: 1rem 0.8rem;
          padding-top: 2rem;
          width: 100%;
          display: grid;
          grid-gap: 1rem;
          .input {
            width: 100%;
            input {
              padding: 0.5rem 0;
              border-bottom: 2px solid $light-border;
              &:focus {
                border-bottom: 2px solid #333;
              }
            }
          }
          .combobox {
            // position: relative;
            .options {
              position: absolute !important;
            }
          }
          button {
            padding: 0.25rem 0.5rem;
            border-radius: 0;
            border: none;
            font-weight: 600;
            color: #333;
            margin: auto;
            margin-right: 0;
            font-size: 1rem;
            &:hover {
              background: none;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
  table {
    width: 100%;
    text-align: left;
    overflow: hidden;
    &.thead {
      position: sticky;
      top: 101px;
      background: $base-white;
      z-index: 5;
    }
    thead {
      position: sticky;
      top: 120px;
      z-index: 5;
      tr {
        padding: 1rem 0.5;
        th,
        button {
          text-transform: capitalize;
          color: $light-text;
          font-weight: 500;
          font-size: 0.9rem;
          border: none;
          outline: none;
          background: none;
        }
        button {
          display: flex;
          align-items: center;
          cursor: pointer;
          &:hover,
          &.active {
            font-weight: bold;
            color: #333;
          }
          ion-icon {
            font-size: 1.05em;
            margin-left: 0.2em;
          }
        }
      }
    }
    tbody {
      td {
        span {
          display: block;
          font-size: 0.8em;
          color: $light-text;
        }
      }
      tr:hover {
        background: $light-hover;
      }
      .noData {
        pointer-events: none;
        border: none;
        grid-template-columns: 1fr !important;
        td {
          display: grid !important;
          padding: 2rem !important;
          display: grid;
          grid-gap: 0.5rem;
          place-items: center;
          font-size: 1.2rem;
          font-style: italic;
          color: $light-border;
          ion-icon {
            font-size: 4rem;
          }
        }
      }
    }
    tr {
      padding: 0.8rem 0.5rem;
      width: 100%;
      max-width: 100%;
      border-bottom: 1px solid $light-border;
      display: grid;
      grid-column-gap: 1rem;
      align-items: center;
      justify-content: center;
      &.loadingColumn {
        min-height: 5rem;
        border: none;
        background: $light-hover;
        animation: loadingColumn 1.25s linear alternate infinite;
        td {
          background: $base-white;
          width: 100%;
          height: 1.75rem;
          border-radius: 2rem;
        }
        &:hover {
          background: none;
        }
      }
      td {
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      td.jamiaFatwaCount {
        text-align: center;
      }
    }
  }
}
.actions {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: 8px;
  transition: color, 0.2s ease-in-out;
}
.scrappedFawtaForm {
  .modal {
    background: $base-white;
    border-radius: 1rem;
    position: relative;
    ion-icon[name="close-outline"] {
      cursor: pointer;
      z-index: 10;
      position: absolute;
      font-size: 2rem;
      padding: 0.5rem;
      top: 0;
      right: 0;
    }
    form {
      max-height: calc(100vh - 2rem);
      padding: 2rem;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .metaInfo {
        grid-template-columns: 1fr;
        grid-column: 1/3;
        word-wrap: break-word;
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .adminPanel {
    grid-template-columns: 64px 1fr;
  }
  .view {
    grid-column: 2/3;
  }
  .sidebar {
    &.full {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      background: $base-white;
      z-index: 50;
    }
  }
}

@media only screen and (max-width: 480px) {
  .addFatwa {
    grid-template-areas: "tp ch" "tl tl" "qs qs" "an an";
    &.translate {
      grid-template-areas: "tp ch" "tl tl" "tlen tlen" "qs qs" "qsen qsen" "an an" "anen anen" "mlb mlb" "mls mls";
    }
    .ref,
    .meta {
      grid-row-gap: 2rem;
      grid-template-columns: 1fr;
    }
  }
  .adminPanel {
    grid-template-columns: 0 1fr;
    .view {
      #allFatwa,
      #fatwaSubmissions,
      #allScrappedLive,
      #allScrapped {
        tr {
          &.full {
            .data {
              padding-left: 0;
            }
          }
          grid-template-columns: 5.2rem 1fr;
          &.full {
            grid-template-columns: 1fr;
            .label {
              white-space: nowrap;
              width: min-content;
              padding-right: 1rem;
            }
            .data {
              grid-column: 1;
              margin-bottom: 1.5rem;
            }
          }
          &:not(.full) {
            grid-template-columns: 6rem 1fr;
            td:nth-child(3) {
              grid-column: 1/2;
              grid-row: 1/2;
              font-size: 0.8rem;
              color: $light-text;
            }
            td:nth-child(2) {
              grid-column: 2/3;
              grid-row: 1/2;
              color: $light-text;
              font-size: 0.8rem;
            }
            td:nth-child(4) {
              grid-column: 2/3;
              grid-row: 2/3;
            }
          }
        }
        &.thead {
          tr {
            th:nth-child(2),
            th:nth-child(3) {
              display: none;
            }
          }
        }
      }
      #allFatwa {
        &.thead {
          tr {
            th:nth-child(3),
            th:nth-child(2),
            th:nth-child(1) {
              display: none;
            }
          }
        }
        tr:not(.full) {
          td:nth-child(3) {
            display: none;
          }
          td:nth-child(1) {
            grid-column: 1/2;
            grid-row: 1/2;
            color: $light-text;
            font-size: 0.8rem;
          }
          td:nth-child(4) {
            grid-column: 1/2;
          }
          td:nth-child(2) {
            grid-row: 1/2;
            color: $light-text;
            font-size: 0.8rem;
          }
          td:nth-child(5) {
            grid-column: 2/3;
          }
        }
      }
      #allJamia {
        &.thead {
          tr:not(.full) {
            th {
              grid-row: 1/2;
            }
            th:nth-child(2),
            th:nth-child(6),
            th:nth-child(1) {
              display: none;
            }
            th:nth-child(3) {
              grid-column: 3/4;
            }
            th:nth-child(4) {
              grid-column: 1/2;
            }
            th:nth-child(5) {
              grid-column: 2/3;
            }
          }
        }
        tr:not(.full) {
          grid-template-columns: 5.8rem 2.5rem 1fr;
          td:nth-child(6),
          td:nth-child(2) {
            display: none;
          }
          td:nth-child(1) {
            grid-row: 1/2;
            font-size: 0.8rem;
            color: $light-text;
          }
          td:nth-child(3) {
            grid-column: 3/4;
            grid-row: 1/3;
          }
          td:nth-child(4) {
            grid-column: 1/2;
          }
          td:nth-child(5) {
            grid-row: 1;
            text-align: center;
          }
        }
      }
      #jamiaSubmissions {
        &.thead {
          tr {
            th:nth-child(2),
            th:nth-child(4) {
              display: none;
            }
          }
        }
        tr:not(.full) {
          grid-template-columns: 5rem 1fr;
          td:nth-child(2),
          td:nth-child(4) {
            display: none;
          }
        }
      }
    }
  }
  .view {
    grid-column: 2/3;
    .tableFilter {
      form {
        & > ion-icon {
          padding: 0 0.5rem;
        }
      }
      .filterSuggestions {
        overflow-wrap: break-word;
        max-width: calc(100vw - 6rem);
        li {
          max-width: 100%;
          padding: 0.75rem 1rem;
        }
      }
    }
  }
  .sidebar {
    &.mini {
      width: 0;
    }
    &.full {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      background: $base-white;
    }
  }
  .scrappedFawtaForm {
    .modal {
      width: 100%;
      border-radius: 0;
      form {
        max-height: 100vh;
        padding: 1rem;
      }
    }
  }
}

@keyframes loadingColumn {
  0% {
    background: $base-white;
  }
  50% {
    background: $light-hover;
  }
  100% {
    background: $base-white;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
@keyframes loadingColumn2 {
  0% {
    background: rgba(255, 161, 0, 0.08);
    opacity: 1;
  }
  50% {
    background: rgba(255, 161, 0, 0.08);
    opacity: 0.5;
  }
  100% {
    background: rgba(255, 161, 0, 0.08);
    opacity: 1;
  }
}
