@import "variables";

.footer {
  background-color: $base-white;
  border-top: 1px solid $light-border;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  color: #888;
  ul {
    display: grid;
    grid-auto-flow: column;
    grid-row-gap: 0.5rem;
  }
  li {
    list-style: none;
    a {
      border-radius: 5px;
      padding: 0.5rem 1rem;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: $light-hover;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    padding: 1rem;
    justify-content: space-between;
    ul {
      overflow-x: hidden;
      .copy {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    // flex-wrap: wrap;
  }
}
