@import "variables";

.jamiaProfile {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;
  align-items: center;
  .view {
    #profileInfo {
      padding: 1rem;
      width: 50rem;
      display: grid;
      grid-template-columns: 0.25fr 0.75fr;
      grid-row-gap: 1rem;
      .label {
        align-self: center;
        font-size: 0.8rem;
        color: $light-text;
        position: relative;
        &::after {
          content: ":";
          display: inline-block;
          position: absolute;
          right: 0;
        }
      }
      .data {
        padding-left: 1rem;
        &:has(form) {
          background: $light-hover;
        }
        form {
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: 1fr min-content;
          grid-gap: 0.5rem;
          align-items: center;
          a {
            width: min-content;
          }
          button {
            color: $light-text;
            border: none;
            padding: 0;
            border-radius: 0;
            display: grid;
            &:hover {
              background: none;
              color: inherit;
            }
            ion-icon {
              font-size: 1.5rem;
            }
          }
          .input {
            pointer-events: none;
            label {
              display: none;
            }
            input {
              font-size: 1rem;
              background: none;
              outline: none;
              border: none;
              padding: 0;
              transition: background, padding, 0.2s ease-in-out;
            }
            textarea {
              border: none;
              transition: background, padding, 0.2s ease-in-out;
            }
          }
          ion-icon {
            margin: auto;
            display: block;
            font-size: 1.5rem;
            cursor: pointer;
            opacity: 0;
            background: white;
            padding: 0.33rem 0.5rem;
            box-shadow: inset 0 0 0 1px $light-border;
            border-radius: 5px;
            &:hover {
              background: $light-hover;
            }
            &:active {
              background: $light-border;
            }
          }
          &:hover {
            ion-icon {
              opacity: 1;
            }
          }
          &.edit {
            .input {
              pointer-events: all;
              input {
                border-radius: 5px;
                background: white;
                padding: 0.5rem;
                box-shadow: inset 0 0 0 1px $light-border;
              }
              textarea {
                border-radius: 5px;
                background: white;
                padding: 0.5rem;
                box-shadow: inset 0 0 0 1px $light-border;
              }
            }
            &.password {
              align-items: flex-start;
              & > section {
                max-width: 20rem;
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-flow: row;
                grid-row-gap: 0.5rem;
                section {
                  display: flex;
                  align-items: center;
                  grid-gap: 0.3rem;
                  span {
                    height: 2px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                  }
                }
              }
            }
            ion-icon {
              opacity: 1;
            }
          }
        }
      }
      .btns {
        width: min-content;
        grid-column: 2;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0.5rem;
        button {
          cursor: pointer;
          text-transform: uppercase;
          padding: 0.25rem 0.5rem;
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          white-space: nowrap;
          ion-icon {
            font-size: 1.5em;
            margin-right: 0.25rem;
            color: $accent;
          }
          &.reject,
          &.remove {
            ion-icon {
              color: red;
            }
          }
          &.ghost,
          &.hideDetail {
            ion-icon {
              color: orange;
            }
          }
        }
      }
    }
    .addFatwa {
      margin-top: 1rem;
      padding: 0.5rem;
    }
    #fatwaSubmissions {
      tr {
        grid-template-columns: 6rem 0.2fr 0.8fr;
        &.full {
          background: $base-white;
          grid-template-columns: 10rem 1fr;
          grid-row-gap: 1rem;
          .label {
            font-size: 0.8rem;
            color: $light-text;
            position: relative;
            &::after {
              content: ":";
              display: inline-block;
              position: absolute;
              right: 0;
            }
          }
          .btns {
            width: min-content;
            grid-column: 2;
            display: grid;
            grid-auto-flow: column;
            grid-gap: 0.5rem;
            button {
              cursor: pointer;
              text-transform: uppercase;
              padding: 0.25rem 0.5rem;
              display: grid;
              grid-auto-flow: column;
              align-items: center;
              white-space: nowrap;
              ion-icon {
                font-size: 1.5em;
                margin-right: 0.25rem;
                color: orange;
              }
            }
          }
        }
      }
    }
    #allFatwa {
      tr {
        grid-template-columns: 8rem 6rem 1fr 5rem;
        &.full {
          background: $base-white;
          grid-template-columns: 10rem 1fr;
          grid-row-gap: 1rem;
          .label {
            font-size: 0.8rem;
            color: $light-text;
            position: relative;
            &::after {
              content: ":";
              display: inline-block;
              position: absolute;
              right: 0;
            }
          }
          .data {
            a {
              position: relative;
              ion-icon {
                display: none;
                padding-left: 0.25rem;
                position: absolute;
              }
              &:hover {
                ion-icon {
                  display: inline-block;
                }
              }
            }
          }
          .btns {
            width: min-content;
            grid-column: 2;
            display: grid;
            grid-auto-flow: column;
            grid-gap: 0.5rem;
            button {
              cursor: pointer;
              text-transform: uppercase;
              padding: 0.25rem 0.5rem;
              display: grid;
              grid-auto-flow: column;
              align-items: center;
              white-space: nowrap;
              ion-icon {
                font-size: 1.5em;
                margin-right: 0.25rem;
              }
            }
          }
        }
      }
    }
  }
}
.questionFeed {
  .filters {
    padding: 0.5rem;
    position: sticky;
    top: 44px;
    background: $base-white;
    border-bottom: 1px solid $light-border;
    display: flex;
    z-index: 5;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
    .combobox {
      width: min-content;
      display: flex;
      grid-gap: 0.5rem;
      border: 1px solid $light-border;
      padding: 0.25rem 0.75rem;
      border-radius: 5rem;
      input {
        min-width: 6rem;
        border: none;
        padding: 0;
      }
      &.disabled {
        ion-icon {
          pointer-events: none;
          opacity: 0.5;
        }
      }
      ion-icon {
        position: relative;
        transform: none;
        flex-shrink: 0;
      }
      .options {
        bottom: 0;
        transform: translateY(100%);
        left: 0;
        border-radius: 0.5rem;
        li {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
  .feed {
    max-width: 55rem;
    padding: 0.75rem;
    display: grid;
    grid-gap: 0.75rem;
    .question {
      background: #fdfdfd;
      padding: 1.5rem 1.2rem;
      border-radius: 8px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem;
      position: relative;
      .user {
        pointer-events: none;
        .name {
          font-weight: 600;
        }
        .contact {
          font-size: 0.9rem;
          color: $light-text;
          &:hover {
            text-decoration: underline;
          }
        }
        .date {
          font-size: 0.8rem;
          color: $light-text;
          display: flex;
          align-items: center;
        }
      }
      .actions {
        position: absolute;
        right: 0;
        top: 0;
      }
      .ques {
        grid-column: 1/3;
        line-height: 19px;
        text-overflow: ellipsis;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        pointer-events: none;
      }
      .tags {
        display: flex;
        grid-gap: 0.4rem;
        height: min-content;
        margin: auto;
        margin-bottom: 0;
        margin-left: 0;
        flex-wrap: wrap;
        .tag {
          white-space: nowrap;
          font-size: 0.8rem;
          color: $accent;
          padding: 0.1em 0.5em;
          border-radius: 6px;
          border: 1px solid rgba($accent, 0.2);
          background: rgba($accent, 0.02);
        }
      }
      &.mini {
        .ques {
          -webkit-line-clamp: 2;
        }
      }
    }
    .loading {
      div {
        background: $light-hover;
        height: 1rem;
        border-radius: 0.5rem;
        animation: loadingColumn 1.5s infinite;
      }
      .user {
        width: 30%;
      }
      .ques {
        width: 90%;
        grid-column: 1/3;
      }
      .tags {
        height: 0.75rem;
        width: 3rem;
      }
    }
  }
}
.userQues {
  padding: 1rem;
  .container {
    max-width: 45rem;
    .ques {
      padding: 1rem;
      box-shadow: 0 2px 5px rgba(#bb0000, 0.2);
      border: 1px solid rgba(#000, 0.1);
      border-radius: 1rem;
      .user {
        .name {
          margin-bottom: 0.25rem;
          .add {
            font-size: 0.8rem;
          }
        }
        .date {
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          color: $light-text;
          line-height: 0.7em;
        }
        margin-bottom: 0.8rem;
      }
    }
    .addAns {
      text-transform: uppercase;
      display: block;
      margin: 1.5rem auto;
      width: min-content;
      border: 2px solid $blue;
      color: $blue;
      border-radius: 4rem;
      padding: 0.5rem 1rem;
      &:hover {
        color: white;
        background: $blue;
      }
    }
    .HR {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr min-content 1fr;
      grid-gap: 1rem;
      max-width: 25rem;
      margin: 2.5rem auto;
      .content {
        white-space: nowrap;
        font-style: italic;
      }
      .hr {
        height: 2px;
        width: 100%;
        background: $light-border;
      }
    }
    .ans {
      position: relative;
      display: grid;
      grid-template-columns: 2.5rem 1fr;
      border-left: none;
      align-items: center;
      margin-bottom: 1.75rem;
      border-radius: 0.8rem;
      &.mine {
        box-shadow: 0 2px 4px rgba($accent, 0.3);
        .content {
          border-color: $accent;
        }
      }
      &.mini {
        .content {
          .body {
            .answer {
              -webkit-line-clamp: 2;
              line-height: 20px;
              text-overflow: ellipsis;
              display: -webkit-box;
              overflow: hidden;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
      .vote {
        background: $light-hover;
        border: 1px solid $light-border;
        height: 100%;
        width: 100%;
        display: grid;
        .content {
          margin: auto;
          width: content;
          height: min-content;
          place-items: center;
          display: grid;
          padding: 0;
          border: none;
          &.up {
            ion-icon[name="chevron-up-outline"] {
              color: rgba($blue, 0.4);
              pointer-events: none;
            }
          }
          &.down {
            ion-icon[name="chevron-down-outline"] {
              color: rgba($blue, 0.4);
              pointer-events: none;
            }
          }
          ion-icon {
            font-size: 1.8rem;
            cursor: pointer;
            color: $light-text;
            &:hover {
              &[name="chevron-up-outline"] {
                color: $accent;
              }
              &[name="chevron-down-outline"] {
                color: red;
              }
            }
          }
        }
        .voteCount {
          text-align: center;
          font-size: 1.2rem;
        }
      }
      .actions {
        position: absolute;
        right: 0.25rem;
        top: 0;
        width: auto;
        height: auto;
        ion-icon {
          color: $light-text;
        }
        &:hover {
          background: none;
        }
      }
      .content {
        border: 1px solid $light-border;
        border-radius: 0 0.8rem 0.8rem 0;
        border-left: none;
        padding: 1rem;
        display: grid;
        grid-gap: 0.7rem;
        .source {
          .name {
            margin-bottom: 0.25rem;
          }
          .date {
            font-size: 0.8rem;
            color: $light-text;
            line-height: 0.7em;
          }
        }
        .body {
          .title {
            font-style: italic;
            font-size: 1.1em;
            margin-bottom: 0.3rem;
          }
        }
      }
      .tags {
        display: flex;
        grid-gap: 0.4rem;
        height: min-content;
        margin: auto;
        margin-bottom: 0;
        margin-left: 0;
        flex-wrap: wrap;
        .tag {
          white-space: nowrap;
          font-size: 0.8rem;
          color: $accent;
          padding: 0.1em 0.5em;
          border-radius: 6px;
          border: 1px solid rgba($accent, 0.2);
          background: rgba($accent, 0.02);
        }
      }
      .showFull {
        font-size: 0.8rem;
        text-decoration: underline;
        font-style: italic;
        color: $light-text;
        cursor: pointer;
        &:hover {
          text-decoration: none;
          color: $light-border;
        }
      }
    }
  }
}
.answerForm {
  .addFatwa,
  .reportUserQues {
    max-width: 45rem;
    width: 100%;
    grid-template-columns: 1.5fr 1fr;
    background: $base-white;
    padding: 1.75rem;
    padding-top: 2.5rem;
    border-radius: 1rem;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .bottomPadding {
      height: 1px;
      grid-row-start: 0;
      grid-column: 1/3;
    }
    button[type="submit"] {
      grid-row-start: -1;
    }
  }
  .reportUserQues {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    max-width: 25rem;
    grid-gap: 2rem;
    button[type="submit"] {
      grid-row: 4/5;
    }
  }
}

ion-icon[name="trash-outline"],
ion-icon[name="close-outline"],
ion-icon[name="skull-outline"] {
  color: red;
}
ion-icon[name="pencil-outline"],
ion-icon[name="create-outline"],
ion-icon[name="chevron-up-outline"],
ion-icon[name="chevron-down-outline"],
ion-icon[name="star-outline"] {
  color: orange;
}
ion-icon[name="checkmark-outline"],
ion-icon[name="save-outline"] {
  color: $accent;
}
@media only screen and (max-width: 1080px) {
  .jamiaProfile {
    grid-template-columns: 64px 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .jamiaProfile,
  .adminPanel {
    grid-template-columns: 0 1fr;
    .view {
      #allFatwa,
      #fatwaSubmissions {
        tr {
          &.full {
            .data {
              padding-left: 0;
            }
          }
          grid-template-columns: 6rem 1fr;
          &.full {
            grid-template-columns: 1fr;
            .label {
              white-space: nowrap;
              width: min-content;
              padding-right: 1rem;
            }
            .data {
              grid-column: 1;
              margin-bottom: 1.5rem;
            }
          }
        }
      }
    }
  }
  .jamiaProfile {
    #allFatwa {
      &.thead {
        tr {
          th:nth-child(4),
          th:nth-child(1) {
            display: none;
          }
        }
      }
      tr:not(.full) {
        td:nth-child(4),
        td:nth-child(1) {
          display: none;
        }
      }
    }
    #fatwaSubmissions {
      &.thead {
        tr {
          th:nth-child(2) {
            display: none;
          }
        }
      }
      tr:not(.full) {
        td:nth-child(2) {
          display: none;
        }
      }
    }
    .view {
      #profileInfo {
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        width: auto;
        .label {
          white-space: nowrap;
          padding-right: 0.5rem;
          width: min-content;
        }
        .data {
          padding-left: 0;
          margin-bottom: 1rem;
          form {
            ion-icon {
              opacity: 1;
              &[name="create-outline"] {
                background: $base-white;
                box-shadow: none;
                color: $light-text;
              }
            }
          }
          &:nth-child(2) {
            display: inline-block;
            width: min-content;
          }
        }
      }
      &.questionFeed {
        .feed {
          grid-gap: 0.75rem;
          padding: 0.5rem;
          .question {
            padding: 1.25rem 0.75rem;
            grid-gap: 0.75rem;
            &.mini {
              .ques {
                -webkit-line-clamp: 3;
              }
            }
            .btns {
              .more {
                display: none;
              }
            }
          }
        }
      }
      &.userQues {
        padding: 1rem 0;
        .container {
          .ques {
            border-radius: 0;
          }
          .HR {
            width: 60%;
            margin: 1.5rem auto;
          }
          .ans {
            border-radius: 0;
            .content {
              grid-gap: 1rem;
              padding: 0.75rem;
              border-radius: 0;
              border-right: none;
              .body {
                .title {
                  margin-bottom: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .adminPanel {
    .view {
      #fatwaSubmissions {
        &.thead {
          tr {
            th:nth-child(2),
            th:nth-child(3) {
              display: none;
            }
          }
        }
        tr:not(.full) {
          grid-template-columns: 6rem 1fr;
          td:nth-child(3) {
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 0.8rem;
            color: $light-text;
          }
          td:nth-child(2) {
            grid-column: 2/3;
            grid-row: 1/2;
            color: $light-text;
            font-size: 0.8rem;
          }
          td:nth-child(4) {
            grid-column: 2/3;
            grid-row: 2/3;
          }
        }
      }
      #allFatwa {
        &.thead {
          tr {
            th:nth-child(3),
            th:nth-child(2),
            th:nth-child(1) {
              display: none;
            }
          }
        }
        tr:not(.full) {
          td:nth-child(3) {
            display: none;
          }
          td:nth-child(1) {
            grid-column: 1/2;
            grid-row: 1/2;
            color: $light-text;
            font-size: 0.8rem;
          }
          td:nth-child(4) {
            grid-column: 1/2;
          }
          td:nth-child(2) {
            grid-row: 1/2;
            color: $light-text;
            font-size: 0.8rem;
          }
          td:nth-child(5) {
            grid-column: 2/3;
          }
        }
      }
      #allJamia {
        &.thead {
          tr:not(.full) {
            th {
              grid-row: 1/2;
            }
            th:nth-child(3),
            th:nth-child(6),
            th:nth-child(1) {
              display: none;
            }
            th:nth-child(2) {
              grid-column: 3/4;
            }
            th:nth-child(4) {
              grid-column: 1/2;
            }
            th:nth-child(5) {
              grid-column: 2/3;
            }
          }
        }
        tr:not(.full) {
          grid-template-columns: 5.8rem 2.5rem 1fr;
          td:nth-child(6),
          td:nth-child(3) {
            display: none;
          }
          td:nth-child(1) {
            grid-row: 1/2;
            font-size: 0.8rem;
            color: $light-text;
          }
          td:nth-child(2) {
            grid-column: 3/4;
            grid-row: 1/3;
          }
          td:nth-child(4) {
            grid-column: 1/2;
          }
          td:nth-child(5) {
            grid-row: 1;
            text-align: center;
          }
        }
      }
      #jamiaSubmissions {
        &.thead {
          tr {
            th:nth-child(3),
            th:nth-child(4) {
              display: none;
            }
          }
        }
        tr:not(.full) {
          grid-template-columns: 6rem 1fr;
          td:nth-child(3),
          td:nth-child(4) {
            display: none;
          }
        }
      }
    }
  }
}

.separator {
  height: 0.5em;
  width: 0.5em;
  display: inline-block;
  background: $light-text;
  border-radius: 1rem;
  margin: 0 0.3em;
}
