.landingPage {
  display: flex;
  justify-content: center;
  overflow: hidden;
  .content {
    transform: translateY(20%);
    padding: 1rem;
    width: 100%;
    margin: 0 1rem;
    max-width: 35rem;
    text-align: center;
    .logo {
      width: 80%;
      height: 6rem;
      object-fit: cover;
    }
    .siteTitle {
      padding: 1rem;
      color: #2a2a2a;
      font-weight: lighter;
      font-family: "Rakkas", cursive;
      letter-spacing: 0;
      font-size: 5rem;
    }
  }
}
@media only screen and (max-width: 480px) {
  .landingPage {
    .content {
      .logo {
        height: 6rem;
      }
      .siteTitle {
        font-size: 3rem;
      }
    }
  }
}
