@import "variables";

.navbar {
  width: 100vw;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 180px 1fr auto;
  grid-template-areas: "lg sr nv";
  .logo {
    font-size: 1.3rem;
    white-space: nowrap;
  }
  align-items: center;
  #searchbar {
    max-width: 55rem;
    font-size: 1rem;
    button {
      top: 0.05em;
      right: -0.1em;
      padding: 0.2em;
    }
    input {
      font-size: 1rem;
      padding: 0.55rem 1rem;
      padding-right: 2.5rem;
    }
  }
  nav {
    grid-area: nv;
    ul {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 1rem;
      li {
        font-size: 0.97rem;
        padding: 0.5rem 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        color: $light-text;
        &:hover {
          background: $light-hover;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    padding: 0.5rem 1rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "lg lg" "sr nv";
    .logo {
      grid-area: lg;
    }
    #searchbar {
      margin-left: 0;
    }
    nav {
      margin-left: 0.5rem;
    }
  }
}
