@import "variables";

.navbar {
  z-index: 10;
  position: sticky;
  top: 0;
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-columns: 180px 1fr auto;
  grid-template-areas: "lg sr nv";
  background: $base-white;
  .logo {
    width: 90%;
    height: 2.5rem;
    object-fit: cover;
  }
  align-items: center;
  #searchbar {
    max-width: 50rem;
    font-size: 1rem;
    button {
      top: 0.05em;
      right: -0.1em;
      padding: 0.2em;
    }
    input {
      font-size: 1rem;
      padding: 0.55rem 1rem;
      padding-right: 2.5rem;
    }
  }
  nav {
    grid-area: nv;
    margin-left: 2rem;
    ul {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 0.5rem;
      li {
        font-size: 0.97rem;
        padding: 0.5rem 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        color: $light-text;
        &:hover {
          background: $light-hover;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    padding: 0.5rem 1rem;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "lg nv" "sr sr";
    &.mini {
      grid-template-areas: "lg nv";
      grid-template-rows: 1fr;
    }
    #searchbar {
      grid-area: sr;
    }
    a {
      display: block;
      position: relative;
    }
    .logo {
      position: absolute;
      transform: translateY(-50%);
      left: 0;
      width: 50%;
      height: 2.5rem;
      grid-area: lg;
      text-align: left;
    }
    nav {
      margin-left: 0.5rem;
    }
  }
}
