@import "variables";

.navbar {
  z-index: 20;
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: min-content 1fr auto;
  grid-template-areas: "lg sr nv";
  background: $base-white;
  grid-gap: 1rem;
  .sidebarToggleBtn {
    display: flex;
    align-items: center;
    font-size: 2rem;
    ion-icon {
      border-radius: 3px;
      cursor: pointer;
      opacity: 0.8;
      display: block;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        background: white;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .navLogo {
    img {
      width: 125px;
      object-fit: contain;
    }
  }
  .sidebarToggleBtn + .navLogo {
    margin: auto;
    width: min-content;
    display: flex;
    justify-content: center;
  }
  align-items: center;
  #searchbar {
    max-width: 50rem;
    font-size: 1rem;
    button {
      right: -0.1em;
      padding: 0.2em;
    }
    input {
      font-size: 1rem;
      padding: 0.55rem 1rem;
      padding-right: 2.5rem;
    }
  }
  nav {
    grid-area: nv;
    .avatar {
      text-transform: uppercase;
      background: $blue;
      color: white;
      width: 2.2rem;
      height: 2.2rem;
      display: grid;
      place-items: center;
      position: relative;
      &:hover {
        background: rgba($blue, 0.7);
      }
      .avatarOptions {
        position: absolute;
        top: 35px;
        right: 0;
        display: grid;
        grid-auto-flow: row;
        background: $base-white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        li {
          display: block;
        }
      }
    }
    ul {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 0.5rem;
      li {
        font-size: 0.97rem;
        border-radius: 5px;
        cursor: pointer;
        color: $light-text;
        a {
          display: block;
          padding: 0.5rem 0.85rem;
        }
        &:hover {
          background: $light-hover;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    padding: 0.5rem 1rem;
    grid-template-columns: 1fr auto;
    grid-template-areas: "lg nv" "sr sr";
    &.mini {
      grid-template-columns: min-content 1fr min-content;
      grid-template-areas: "bt lg nv";
      .navLogo {
        grid-area: lg;
        display: flex;
        justify-content: center;
        width: min-content;
      }
      .sidebarToggleBtn + .navLogo {
        width: 100%;
      }
    }
    #searchbar {
      grid-area: sr;
    }
    nav {
      margin-left: 0.5rem;
      grid-area: nv;
    }
  }
}
