$base-white: #f6f6f6;
$font-color: #333;
$light-border: #ccc;
$light-hover: #eee;
$light-text: #888;
$accent: #00c447;
$blue: rgb(0, 117, 255);
$red: rgb(240, 41, 96);

// $base-white: #1b1b20;
// $font-color: white;
// $light-border: #2a2828;
// $light-hover: #eee;
// $light-text: #888;
// $accent: rgba(5, 249, 117, 1);
// $blue: rgb(0, 117, 255);
